@charset "UTF-8";

/* CSS Document */


/* start all css with a reset */

* {
    margin: 0px;
    padding: 0px
}

body {
    margin: auto;
    text-align: center;
    font-family: helvetica, sans-serif;
    background-image: url("images/rc_head.png");
    background-repeat: repeat;
}

header {
  position: relative;
  float: left;
}

.hide {
    display: none;
}

.show {
    display: block;
}

h1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 100px;
    color: white;
    margin-top: 20px;
}

h2 {
    font-family: 'Permanent Marker', cursive;
    font-size: 50px;
    color: white;
}

h3 {
    font-size: 12px;
    margin: 20px 0px 20px 0px;
    color: white;
}

article {
    position: relative;
    float: left;
    margin-left: 20px;
    width: 300px;
    text-align: left;
}

input[type="text"] {
    width: 300px;
    padding: 10px;
    border-color: white;
    border-radius: 5px;
    background-color: white;
    color: black;
    font-size: 20px;
}

div {
    margin-top: 10px;
}

label {
    font-family: 'Permanent Marker', cursive;
    font-size: 20px;
    color: white;
}

p {
    position: relative;
    float: left;
    text-align: left;
    width: 300px;
    margin: 50px 0px 0px 50px;
    background-color: black;
    color: white;
}

footer {
    clear: left;
    padding-top: 30px;
}

a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: grey;
}

a:active {
    color: white;
}
