@charset "UTF-8";

/* CSS Document */


/* index css */

* {
    margin: 0;
    padding: 0;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: auto;
    width: 850px;
    background-color: #FCFCFC;
    font-family: 'Roboto', sans-serif;
}

main {
    margin: 0px 20px 0px 20px;
}

section {
    font-size: 12px;
    line-height: 20px;
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: #3D3D3D;
    margin: 10px 0px 10px 0px;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
}

h2 {
    color: #FFD23F;
    font-size: 20px;
}

h2#click {
    float: right;
    color: #D6D6D6;
    font-size: 15px;
    font-style: italic;
    margin-top: -65px;
    text-align: right;
}

h2#project-hidden {
    visibility: hidden;
}

div.left {
    width: 200px;
    height: 300px;
    margin-top: 10px;
    float: left;
    color: #FFD23F;
}

nav {
    margin: 10px 0px 0px 15px;
    line-height: 22px;
    font-size: 12px;
}

p {
    margin: 15px 20px 0px 20px;
    line-height: 18px;
    font-size: 12px;
    color: black;
}

hr {
    margin-bottom: 10px;
}

footer {
    clear: left;
    margin: 0px 20px 40px 20px;
    font-size: 12px;
}

a:link {
    color: black;
}

a:visited {
    color: #2F2F2F;
}

a:hover {
    color: #f1f1f2;
}

a:active {
    color: black;
}
