@charset "UTF-8";

/* CSS Document */


/* blog css */

* {
    margin: 0;
    padding: 0;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: #FCFCFC;
    margin: auto;
    width: 1200px;
    color: black;
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: #3D3D3D;
    margin: 100px 0px 50px 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
}

h2 {
    color: white;
    margin: 20px 0px 0px 20px;
    font-size: 20px;
}

h3 {
    margin-left: 20px;
    font-size: 12px;
}

article {
    float: left;
}

div {
    width: 500px;
    height: 370px;
    margin: 20px;
    padding: 10px;
    float: left;
    background-color: #FFD23F;
    color: #2F2F2F;
    border-radius: 10px;
    box-shadow: 10px 10px 40px #D8D8D8;
}

div.comp {
  width: 500px;
  height: 600px;
  margin: 20px;
  padding: 10px;
  float: left;
  background-color: #FFD23F;
  color: #2F2F2F;
  border-radius: 10px;
  box-shadow: 10px 10px 40px #D8D8D8;
}

img {
    margin: 20px 0px 0px 20px;
}

p {
    margin: 15px 20px 0px 20px;
    line-height: 18px;
    font-size: 12px;
}

footer {
    clear: left;
    padding-top: 30px;
    padding-bottom: 30px;
}

a:link {
    color: black;
}

a:visited {
    color: #2F2F2F;
}

a:hover {
    color: #f1f1f2;
}

a:active {
    color: black;
}


/*
#2F2F2F grey
#D2F898 green
#FCFCFC white
*/
